/*****************************************************************************/
/*              Hoja de estilo de index.html                                 */
/*              Autor: Sergio Gámez Ortega                                   */
/*              Version: 1.0                                                 */
/*              Fecha: Enero de 2024                                         */
/*              Comentario: Proyecto de Lenguaje de Marcas (BOOTSTRAP)       */
/*****************************************************************************/

body {
    font-family: texto;
}

/******************************* FONTS *******************************/

@font-face {
    font-family: titulo;
    src: url(../fonts/engebrechtre\ rg.otf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/TechnaSans-Regular.otf);
}

/******************************* COLORS *******************************/

.bg-color {
    background-color: rgba(0,0,0,0.75);
}

.bg-color2 {
    background-color: #888888;
}

.bg-color3 {
    background-color: #6d6d6d;
}

.bg-color4 {
    background-color: #393939;
}

/******************************* HEIGHTS *******************************/

.h-15 {
    height: 15%;
}

/******************************* PADDINGS *******************************/

.p-10 {
    padding: 10%;
}

.pt-10 {
    padding-top: 10%;
}

.pb-10 {
    padding-bottom: 10%;
}

/******************************* NAV BAR *******************************/

.mb-25 {
    margin-bottom: 25%;
}

/******************************* NAV BAR *******************************/

nav {
    font-family: texto;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: gray !important;
}

.navbar-brand img {
    transition: 0.3s ease;
}

.navbar-brand img:hover {
    transform: scale(105%);
}

/******************************* HERO SECTION *******************************/

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
}

#hero h1 {
    font-family: titulo;
}

#hero blockquote {
    font-family: texto;
}

/******************************* MEMBERS SECTION *******************************/

#members img {
    transition: 0.5s ease;
    box-shadow: 2px 2px 25px black;
    opacity: 0.9;
}

#members img:hover {
    cursor: crosshair;
    opacity: 1;
    transform: scale(105%);
}

/******************************* DISCOGRAPHY SECTION *******************************/

#discography img {
    transition: 0.5s ease;
    opacity: 0.75;
}

#discography img:hover {
    cursor: crosshair;
    opacity: 1;
    transform: scale(101%);
}

/******************************* DISCOGRAPHY SECTION *******************************/

#merchandising a:hover img {
    opacity: 0.65;
}

#merchandising a:hover h6 {
    text-decoration: underline;
}

/******************************* FOOTER  *******************************/

.wrapper>* {
    flex: 0 0 auto;
}

a {
    text-decoration: none;
    background-color: transparent;
}

.py-8 {
    padding-top: 3.5rem !important;
    padding-bottom: 3.5rem !important;
}

.footer-link-01 li+li {
    padding-top: 0.8rem;
}

.footer-title-01 {
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: 600;
}

.footer-title-01 {
    font-size: 16px;
    margin: 0 0 20px;
    font-weight: 600
}

.footer-link-01 li+li {
    padding-top: .8rem
}

@media (max-width: 991.98px) {
    .footer-link-01 li+li {
        padding-top: .6rem
    }
}

.footer-link-01 a {
    position: relative;
    display: inline-block;
    vertical-align: top
}

.footer-link-01 a:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    width: 0;
    height: 1px;
    transition: ease all .35s;
    background: currentColor
}

.footer-link-01 a:hover:after {
    left: 0;
    right: auto;
    width: 100%
}

footer a i {
    width: 45px;
    height: 45px;
    transition: 0.3s ease;
    opacity: 0.65;
}

footer a i:hover {
    opacity: 1;
}

footer a:hover {
    cursor: pointer;
}

#firstNameHelp, #lastNameHelp, #emailHelp, #passwordHelp {
    display: none;
}

/******************************* STYLED BUTTON  *******************************/

.css-button-sliding-to-left--black {
    min-width: 130px;
    height: 40px;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.4s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: black;
    overflow: hidden;
    border: 2px solid black;
    color: white;
}

.css-button-sliding-to-left--black:hover {
    color: black;
}
  
.css-button-sliding-to-left--black:hover:after {
    width: 100%;
}

.css-button-sliding-to-left--black:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.4s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: white;
}